body{
	background-color: LightGray;
	font-family: 'Roboto', sans-serif;
}

div{
	border: 1px solid chocolate;
}

a{
	color:  #707070;
	text-decoration: none;
}

a:hover{
	color: #202020;
	cursor: pointer;
}
.active{
	color: #4c5058;
	font-weight: 500;
}

/*header section styles*/
.header{
	height: 5em;
	width: 60em;
	margin: 0 auto;
}
.logo{
	float: left;
	height: 2.5em;
	width: 35%;
	margin-top: 20px;
}
.logo img{
	height: inherit;
/*	text-align: center;*/
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.navBar{
	float: right;
	height: 2.5em;
	width: 60%;
	margin-top: 20px;
	font-size: 1.1em;
}
.navBar ul{
	text-align: center;
	margin-top: 0.625em;
}
.navBar li{
	display: inline;
	padding-right: 1em;

}

/**/
.mainBg{
	height:31.25em;
	background-image: url("../image/background.jpg");
	background-size: cover;
}
.mainBg div{
	width: 30em;
	/*height: 10em;*/
	margin-left: auto;
	margin-right: auto;
	margin-top: 10em;
}
.mainBg h1, .mainBg p{
	color: white;
	text-align: center;
}
.mainBg h1{
	font-size: 3em;
	font-weight: 300; 
	margin-bottom: -0.5em;
}
.mainBg p{
	font-size: 1.5em;
	font-weight: 300; 
}
.mainBg button{
	display: block;
	margin:0 auto; 
}
/**/
.mainCt{
	height: 400px;
}
/**/
.footer{
	height: 300px;
}